---
const { title } = Astro.props;
---

<a href="#" class="btn btn-primary inline-block mt-4 px-6 py-2 bg-gradient-to-r from-purple-500 to-pink-500 rounded-md text-sm font-bold text-white">{title}</a><a href="#" class="btn"></a>