---
// El menu queda hacia la derecha, quiero que quede centrado y ningun elemento a sus lados
const menuStyle = 'mt-10 fixed bottom-10 left-0 right-0 flex justify-center font-bold uppercase text-gray-600 z-20';
---

<div class={menuStyle}>
    <a href="/" class="hover:text-pink-600 mx-6">Home</a>
    <a href="/works/" class="hover:text-pink-600 mx-6">Works</a>
    <a href="/services/" class="hover:text-pink-600 mx-6">Services</a>
    <a href="/contact/" class="hover:text-pink-600 mx-6">Contact</a>
</div>